{% extends 'base.html' %}

{% block content %}

<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th>
            <td>Vendor</td>
            <td>Total</td>
            <td>Tax</td>
            <td>Date</td>
            <td>Category</td>
            <td>Account</td>
            </th>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date }}</td>
                <td>{{ receipt.category }}</td>
                <td>{{ receipt.account }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}